
* {
  box-sizing: border-box; 
}
body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 10vh);
}
#main > article {
  flex: 1;
  background: white;
}

#main > nav {
  flex: 0 0 20vw;
  background:beige;
  order: -1;
  min-width: 310px;
  max-width: 310px;
}

footer, article, nav{
  padding: 1em;
}

footer {
  display: flex;
  flex-direction: row;
  background: grey;
  height: 10vh;
}

  .container { 
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    background:white;  
  }

  .name {
    background: beige;
    justify-content: center;
    align-items: center;
  }

  #foto {
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width:300px;
    margin: 20px 0px 0px;  
  }
 

  #skills_heder {
    align-items:center;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px;
    border: 20px 0px 0px;
    width: 85%;
  }

  #languages_heder {
    align-items:center;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px;
    border: 20px 0px 0px;
    width: 85%;
  }

  .heder_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 5px solid beige; 
    border-radius: 10px; 
  }

  #name{
    font-size: 30px;
  }

  #professoin{
    font-size: 10px;
    width: 100%;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
    background:white;  
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }
  #box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:white;  
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }
  #box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:white; 
    margin: 0px 0px 0px;
    padding: 0px 0px 0px; 
  }

.li_email {
list-style: none; 
background: url(icons/email32.png) no-repeat 0 0px; 
padding-left: 40px; /* Смещаем текст вправо */ 
line-height: 1.5; 
}

.li_telegram {
  list-style: none; 
  background: url(icons/telegram38.png) no-repeat 0 -3px; 
  padding-left: 40px; /* Смещаем текст вправо */
  line-height: 1.5; 
}

.li_github {
    list-style: none; 
    background: url(icons/github32.png) no-repeat 0 0px; 
    padding-left: 40px; /* Смещаем текст вправо */ 
    line-height: 1.5; 
}

.li_location {
  list-style: none; 
  background: url(icons/location32.png) no-repeat 0 0px; 
  padding-left: 40px; /* Смещаем текст вправо */ 
  line-height: 1.5; 
}

.about_myself_heder{
  font-size: 15px;  
  padding: auto;
}

.about_myself{
  font-size: 20px;
  margin-bottom: 40px;
}

.education{
  font-size: 20px;
  margin-bottom: 40px;
}
.experience{
  font-size: 20px;
  margin-bottom: 40px;
}

.code_example{
  font-size: 20px;
  margin-bottom: 40px;
}


a.ssilka_github, a.ssilka_github:visited, a.ssilka_github:hover {
  text-decoration: none;  
  color: black;
  }

  #footer_box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }

  #footer_box3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  #footer_box3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 50%;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }
 